.Grande{
	font-size: 24px;
}

.Personas{
    overflow-y:scroll;
    overflow-x: hidden;
    height:500px;
    margin-bottom: 25px;
    margin-left: 30%;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 12px;
}

.Persona{
	font-size: 20px;
	align-content: center;
    margin-left: 0;
    width: 100%;
    min-height: 200px;
    clear: both;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.Persona:hover {
    background-color: rgb(88, 202, 247);
}

.imagen {
    float: left;
    width: 200px;
    height: 176px;
    overflow: hidden;
}

.datos {
    padding-left: 16px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Error{
	font-size: 24px;
	align-content: center;
	margin-left: 0;
    display: none;
    width: 100%;
    min-height: 200px;
    clear: both;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.Full{
	font-size: 24px;
	display: none;
    margin-left: 50%;
    margin-bottom: 25px;
}

.Poster{
	width: 484px;
	height: 662px;
    float: left;
}

.Buscadores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Informacion{
    min-height: 662px;
    display: flex;
    flex-direction: column;
}