.cabecera{
	text-align:center;
	color:black;
	background-color:rgb(117, 233, 107);
}

#titulo{
    background-color:transparent;
}

.rating{
    display: flex;
    justify-content: center;
}

.trailer{
    font-size: 50px;
    text-align: center;
}

.trailer a:hover{
    background-color: #93b8eb;
}

.rating span{
    font-size: 40px;
}

.rating button{
    font-size: 25px;
}

main{
    margin-top: 70px;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Multimedia{
    display: flex;
    flex-direction: column;
}