.cabecera{
	text-align:center;
	color:black;
	background-color:rgb(117, 233, 107);
}

.caja-datos {
	text-align:left;
	padding:.23em;
	border: 0;
}

#titulo{
    background-color:transparent;
    margin-left: 50%;
    margin-right: 50%;
}

.rating{
    margin-left: 50%;
}

.trailer{
    margin-left: 50%;
    font-size: 50px;
}

.rating span{
    font-size: 40px;
}

.rating button{
    font-size: 25px;
}

main{
    margin-top: 70px;
}

.imagenes{
	margin-left: 15px;
	margin-right: 0;
}